.DS_Store
*.swp

## Visual Studio##
*.csproj
.vs/
.vsconfig
obj/
*.sln

Logs/
Library/
UserSettings/
Temp/

.vs/576-Final-Project/v16/.suo
576-Final-Project.sln
obj/Debug/Assembly-CSharp.csproj.AssemblyReference.cache
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache

